################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ProyectoAdministradores/.vs/ProyectoAdministradores/FileContentIndex
/CapaModelos
/.vs
/CapaDatos
